out/*
build*/
build/
/obj/
/bin/
/doc/*/latex
/doc/*/html
.settings
.project
.cproject

src/*.json

.vs/
.vscode/

testData/*_out.stl
*_out.stl
tmp_*.vtp
tmp_*.vtk
tmp_*.vtu
tmp_*.stl
CMakeUserPresets.json
*.Identifier
sliced.vtk
contour.vtk

testData/
vcpkg_installed/
